<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Artist Details</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href = "http://127.0.0.1:5000/">Home</a></li>
          <li><a href = 'http://127.0.0.1:5000/all_artists'>List of Artists</a></li>
          <li><a href = "http://127.0.0.1:5000/artist_statistics">Artist Statistics</a></li>
          </ul>
      </nav>
    </header>
    <main>
    <h1>Lastfm Top Tracks: List of Artists</h1>
    <div class="main">
      <div class='artist'>
        <h2> {{ details [1] }} </h2>
        <img src = "{{ details[6] }}""
        <p>Listeners: {{ details[3] }} | Playcount: {{ details43] }}<p>
        <h3>Bio</h3>
        <ul>
        <li> {{ details[2] }}</li>
          </ul>
        </div>
</div>
</main>
  </body>
</html>
